@tailwind base;
@tailwind components;
@tailwind utilities;

/************ Custom scroll bar *************/
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  background: linear-gradient(30deg, #516cd5 4.25%, #67c2f6 100%);
  border-radius: 4px;
}

/************ Normal elements styles *************/
@layer base {
  * {
    @apply font-["Lexend_Deca"];
  }
  body {
    @apply bg-[#f1f3ff] dark:bg-[#1B2430];
  }
  body {
    @apply:: -webkit-scrollbar-thumb;
  }
  h1,
  li,
  h2,
  h3 {
    @apply text-gray-600 dark:text-white;
  }
  p,
  a {
    @apply text-gray-700 dark:text-white;
  }
}

/************ Compoenents style *************/
@layer components {
  /*** Social Median Icons **/
  .social {
    @apply flex justify-center;
  }
  .social a {
    @apply mx-2 md:mx-3 bg-white dark:bg-[#253345] text-lg md:text-xl lg:text-2xl w-9 md:w-10 lg:w-12 h-9 md:h-10 lg:h-12 rounded-full flex justify-center items-center hover:scale-125 duration-500;
  }

  /*** Cetagory buttns **/
  .cetagory button {
    @apply mx-1 xl:mx-2 py-1 px-3 lg:px-4 rounded text-xs md:text-sm lg:text-[16px] xl:text-xl font-medium duration-700 hover:text-white dark:text-white;
  }

  /*** Navbar links **/
  .links {
    @apply flex flex-col lg:flex-row w-[90%] lg:w-full mx-auto lg:mb-2;
  }
  .links a {
    @apply lg:mx-7 my-4 hover:scale-125 duration-700 font-semibold;
  }

  /*** Nabvar icons hover effect **/
  .icon_hover {
    @apply mx-[6px] lg:mx-[8px] rounded duration-700 hover:bg-[#516bd530] cursor-pointer;
  }

  /*** All buttons gradiants **/
  .gradiant_btn {
    @apply bg-gradient-to-r from-[#4F68D3] to-[#67C4F7] hover:to-[#4F68D3] duration-700 hover:scale-110;
  }
}

/************************ This is for the Blog Detaile Page **************************/
@layer components {
  .banner {
    @apply w-[90%] md:w-[700px] lg:w-[1000px] xl:w-[1050px]  md:h-[360px] lg:h-[500px] xl:h-[500px] object-cover mx-auto rounded;
  }
  .code {
    @apply bg-[#253345] text-white text-sm md:text-[16px] lg:text-[18px] lg:leading-[30px] rounded px-6 lg:px-8 py-5 lg:py-6 w-full my-4 cursor-pointer;
  }
  .blog {
    @apply w-[90%] sm:w-[85%] md:w-[700px] lg:w-[1000px] xl:w-[1050px] mx-auto mb-16 lg:mb-24;
  }
  .blog .auth_publish {
    @apply flex justify-between items-center mt-1 md:mt-2 mb-2 lg:mb-5 text-xs md:text-sm;
  }
  .blog .auth {
    @apply flex items-center text-xs;
  }
  .blog .auth img {
    @apply w-8 h-8 rounded-full mr-2;
  }
  .blog .time {
    @apply hidden lg:block;
  }
  .blog h1 {
    @apply text-2xl md:text-4xl lg:text-5xl lg:leading-[65px] font-bold mb-6 lg:mb-10;
  }
  .blog h2 {
    @apply text-xl md:text-3xl lg:text-4xl font-bold break-all mb-2 lg:mb-3 mt-8 md:mt-10 lg:mt-12;
  }
  .blog h3 {
    @apply text-lg md:text-2xl lg:text-3xl font-bold mb-2 lg:mb-3 mt-8 md:mt-10 lg:mt-12 break-all;
  }
  .blog p {
    @apply text-sm lg:text-[18px] lg:w-[90%] leading-6 lg:leading-8 my-2 break-all;
  }
  .blog ul {
    @apply mt-4 mb-7 md:mb-9 lg:mb-10;
  }
  .blog li {
    @apply text-sm md:text-[16px] lg:text-[18px] list-disc list-inside my-3 md:my-5 lg:my-5;
  }
  .blog img {
    @apply w-full md:w-[450px] lg:w-[750px] rounded;
  }

  .blog code {
    @apply rounded w-full h-16 md:w-[450px] lg:w-[750px] bg-gray-600;
  }
}

/************ Gradiant Text *************/
.gradiant_text {
  background: linear-gradient(90deg, #516cd5 4.25%, #67c2f6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
